{% set visitor = __SELF__.visitor %}

{% if visitor.state_id == 2 or visitor.state_id == 3 or visitor.state_id == 4 or visitor.state_id == 5  %} {# Hasn't reacted, yet #}

<form class="your-viu-event-here__center" data-request="{{ __SELF__ }}::onAcceptOrDecline" data-request-update="'{{ __SELF__ }}::form': '.your-viu-event-here__center'">
    <div class="your-viu-event-here__title-container">
        <h1 class="your-viu-event-here__title">VIU <span class="your-viu-event-here__subtitle">Frühlings-Apéro</span></h1>
    </div>
    <div class="your-viu-event-here__fields-container">
        <input required name="name" placeholder="Vorname" class="your-viu-event-here__field" type="text" value="{{ visitor.firstname }}">
        <input required name="nachname" placeholder="Nachname" class="your-viu-event-here__field" type="text" value="{{ visitor.lastname }}">
        <input required name="email" placeholder="Email" class="your-viu-event-here__field" type="email" value="{{ visitor.email }}">
    </div>
    <div class="your-viu-event-here__button-container">
            <span>
                <input checked="checked" id="choice_1" class="your-viu-event-here__choice" type="radio" name="choice" value="yes">
                <label class="your-viu-event-here__choice-label" for="choice_1">
                    <span class="your-viu-event-here__choice-hidden-label-text">Anmelden</span>
                </label>
                <button type="submit" data-attach-loading class="your-viu-event-here__button">Anmelden</button>
            </span>
        <span>
                <input id="choice_2" class="your-viu-event-here__choice" type="radio" name="choice" value="maybe">
                <label class="your-viu-event-here__choice-label" for="choice_2">
                <span class="your-viu-event-here__choice-hidden-label-text">Vielleicht</span></label>
                <button type="submit" data-attach-loading class="your-viu-event-here__button">Ich bin optimistisch</button>
            </span>
        <span>
                <input id="choice_3" class="your-viu-event-here__choice" type="radio" name="choice" value="no">
                <label class="your-viu-event-here__choice-label" for="choice_3">
                    <span class="your-viu-event-here__choice-hidden-label-text">Abmelden</span>
                </label>
                <button type="submit" data-attach-loading class="your-viu-event-here__button">Kann leider nicht...</button>
            </span>
    </div>
</form>

{% elseif  visitor.state_id == 11 %} {# Has declined invitation #}

<div class="your-viu-event-here__center">
    <div class="your-viu-event-here__title-container">
        <h1 class="your-viu-event-here__title"><span class="your-viu-event-here__subtitle">Schade, ein andermal vielleicht?</span></h1>
    </div>
</div>



{% elseif  visitor.state_id == 13 %} {# Has maybe accepted invitation #}

<div class="your-viu-event-here__center">
    <div class="your-viu-event-here__title-container">
        <h1 class="your-viu-event-here__title"><span class="your-viu-event-here__subtitle">Die Hoffnung stirbt zuletzt... 😊</span></h1>
    </div>
</div>

{% elseif  visitor.state_id == 6 or visitor.state_id == 7 or visitor.state_id == 8 or visitor.state_id == 9 or visitor.state_id == 10 %} {# Has accepted invitation #}

<div class="your-viu-event-here__center">
    <div class="your-viu-event-here__title-container">
        <h1 class="your-viu-event-here__title"><span class="your-viu-event-here__subtitle">Schön, wir freuen uns.</span></h1>
    </div>
</div>

{% else %}

<div class="your-viu-event-here__center">
    <div class="your-viu-event-here__title-container">
        <h1 class="your-viu-event-here__title"><span class="your-viu-event-here__subtitle">Fehler</span></h1>
        <p>Sie sind nicht berechtigt, diese Seite aufzurufen. Bitte an "event@viu.ch" melden.</p>
    </div>
</div>

{% endif %}

