subject = "Save the Date – VIU Event"

==

Save the Date – VIU Event


** 4 Jahre VIU **

Donnerstag, 28.09.2017, 17:00 Uhrs
Fortunagasse 28, 8001 Zürich


Melde dich hier an: [https://viu.ch/events/?e={{ key }}]

{{ salutation }}

Wir hätten Dich gerne bei unserer Geburtstagsfeier dabei.
Über Deine Anmeldung freuen wir uns sehr.

Liebe Grüsse
das VIU Team

==

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><head>
    <!--[if gte mso 9]><xml>
    <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
</xml><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
    <title></title>


    <style type="text/css" id="media-query">
        body {
            margin: 0;
            padding: 0; }

        table, tr, td {
            vertical-align: top;
            border-collapse: collapse; }

        .ie-browser table, .mso-container table {
            table-layout: fixed; }

        * {
            line-height: inherit; }

        a[x-apple-data-detectors=true] {
            color: inherit !important;
            text-decoration: none !important; }

        [owa] .img-container div, [owa] .img-container button {
            display: block !important; }

        [owa] .fullwidth button {
            width: 100% !important; }

        [owa] .block-grid .col {
            display: table-cell;
            float: none !important;
            vertical-align: top; }

        .ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
            width: 500px !important; }

        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%; }

        .ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
            width: 164px !important; }

        .ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
            width: 328px !important; }

        .ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
            width: 250px !important; }

        .ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
            width: 166px !important; }

        .ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
            width: 125px !important; }

        .ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
            width: 100px !important; }

        .ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
            width: 83px !important; }

        .ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
            width: 71px !important; }

        .ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
            width: 62px !important; }

        .ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
            width: 55px !important; }

        .ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
            width: 50px !important; }

        .ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
            width: 45px !important; }

        .ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
            width: 41px !important; }

        @media only screen and (min-width: 520px) {
            .block-grid {
                width: 500px !important; }
            .block-grid .col {
                display: table-cell;
                Float: none !important;
                vertical-align: top; }
            .block-grid .col.num12 {
                width: 500px !important; }
            .block-grid.mixed-two-up .col.num4 {
                width: 164px !important; }
            .block-grid.mixed-two-up .col.num8 {
                width: 328px !important; }
            .block-grid.two-up .col {
                width: 250px !important; }
            .block-grid.three-up .col {
                width: 166px !important; }
            .block-grid.four-up .col {
                width: 125px !important; }
            .block-grid.five-up .col {
                width: 100px !important; }
            .block-grid.six-up .col {
                width: 83px !important; }
            .block-grid.seven-up .col {
                width: 71px !important; }
            .block-grid.eight-up .col {
                width: 62px !important; }
            .block-grid.nine-up .col {
                width: 55px !important; }
            .block-grid.ten-up .col {
                width: 50px !important; }
            .block-grid.eleven-up .col {
                width: 45px !important; }
            .block-grid.twelve-up .col {
                width: 41px !important; } }

        @media (max-width: 520px) {
            .block-grid, .col {
                min-width: 320px !important;
                max-width: 100% !important; }
            .block-grid {
                width: calc(100% - 40px) !important; }
            .col {
                width: 100% !important; }
            .col > div {
                margin: 0 auto; }
            img.fullwidth {
                max-width: 100% !important; } }

    </style>
</head>
<body class="clean-body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #FFFFFF">
<p></p>
<!-- [if IE]><div class="ie-browser"><![endif]-->
<p></p>
<!-- [if mso]><div class="mso-container"><![endif]-->
<div class="nl-container" style="min-width: 320px; margin: 0 auto; background-color: #ffffff;"><!-- [if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color: #FFFFFF;"><![endif]-->
    <div style="background-color: transparent;">
        <div style="margin: 0 auto; min-width: 320px; max-width: 500px; width: calc(19000% - 98300px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;" class="block-grid ">
            <div style="border-collapse: collapse; display: table; width: 100%;"><!-- [if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 500px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]--> <!-- [if (mso)|(IE)]><td align="center" width="500" style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
                <div class="col num12" style="min-width: 320px; max-width: 500px; width: calc(18000% - 89500px); background-color: transparent;">
                    <div style="background-color: transparent; width: 100% !important;"><!-- [if (!mso)&(!IE)]><!-->
                        <div style="border: 0px solid transparent; padding: 5px 0px 5px 0px;"><!--<![endif]-->
                            <!-- [if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                            <div style="color: #1b4051; line-height: 120%; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; padding: 10px;">
                                <div style="font-size: 12px; line-height: 14px; color: #1b4051; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: left;">
                                    <p style="margin: 0; font-size: 12px; line-height: 14px; text-align: center;"><strong>Einladung zum VIU Event</strong></p>
                                    <p style="margin: 0; font-size: 12px; line-height: 14px; text-align: center;">&nbsp;</p>
                                    <p style="margin: 0; font-size: 12px; line-height: 14px; text-align: center;">&nbsp;</p>
                                    <p style="margin: 0; font-size: 12px; line-height: 14px; text-align: center;">&nbsp;</p>
                                    <p style="margin: 0; font-size: 12px; line-height: 14px; text-align: center;">&nbsp;</p>
                                </div>
                            </div>
                            <!-- [if mso]></td></tr></table><![endif]-->
                            <!-- [if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
                            <div style="color: #555555; line-height: 120%; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; padding: 10px;">
                                <div style="font-size: 12px; line-height: 14px; color: #555555; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: left;">
                                    <p style="margin: 0; font-size: 12px; line-height: 14px; text-align: center;"><span style="font-size: 48px; line-height: 57px;"><strong><span style="color: #ff4500; line-height: 57px; font-size: 48px;">4 Jahre VIU</span></strong></span></p>
                                    <p style="margin: 0; font-size: 12px; line-height: 14px; text-align: center;"><span style="font-size: 14px; line-height: 16px;"><span style="color: #ff4500; line-height: 16px; font-size: 14px;">Donnerstag, 28.09.2017, 17:00 Uhr<br />Fortunagasse 28, 8001 Z&uuml;rich</span></span></p>
                                    <p style="margin: 0; font-size: 12px; line-height: 14px; text-align: center;">&nbsp;</p>
                                    <p style="margin: 0; font-size: 12px; line-height: 14px; text-align: center;">&nbsp;</p>
                                </div>
                            </div>
                            <!-- [if mso]></td></tr></table><![endif]-->
                            <div align="center" class="button-container center" style="padding: 10px;">
                                <!-- [if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://viu.ch/events/?e={{ key }}" style="height:38px; v-text-anchor:middle; width:194px;" arcsize="6%" strokecolor="#1b4051" fillcolor="#1b4051"><w:anchorlock/><center style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:14px;"><![endif]-->
                                <a href="https://viu.ch/events/?e={{ key }}" target="_blank" style="display: inline-block; text-decoration: none; -webkit-text-size-adjust: none; text-align: center; color: #ffffff; background-color: #1b4051; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; max-width: 174px; width: 35%; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; mso-border-alt: none; border: 0px solid transparent; padding: 5px 30px 5px 30px;">
										<span style="font-size: 12px; line-height: 24px;">
											<strong><span style="font-size: 14px;"></span>Anmelden</strong>
										</span>
                                </a>
                                <!-- [if mso]></center></v:roundrect></td></tr></table><![endif]-->
                            </div>
                            <div align="center" class="button-container center" style="padding: 10px;">
                                <!-- [if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="v-text-anchor:middle; width:400px;"><w:anchorlock/><center style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:14px;"><![endif]-->
                                <p style="display: inline-block; text-decoration: none; -webkit-text-size-adjust: none; text-align: center; color: #000000; max-width: 400px; width: 100%; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; mso-border-alt: none; border: 0px solid transparent; padding: 5px 30px 5px 30px;">
										<span style="font-size: 12px; line-height: 24px;">
                                            {{ salutation }}<br /><br />

                                            Wir hätten {{ you }} gerne bei unserer Geburtstagsfeier dabei.<br />
                                            Über {{ your }} Anmeldung freuen wir uns sehr.<br /><br />

                                            Liebe Grüsse<br />
                                            das VIU Team
                                        </span>
                                </p>
                                <!-- [if mso]></center></v:roundrect></td></tr></table><![endif]-->
                            </div>
                            <!-- [if (!mso)&(!IE)]><!-->
                        </div>
                        <!--<![endif]--></div>
                </div>
                <!-- [if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]--></div>
        </div>
    </div>
    <!-- [if (mso)|(IE)]></td></tr></table><![endif]--></div>
<!-- [if (mso)|(IE)]></div><![endif]-->

<div style="margin: 0 auto; text-align: center; min-width: 320px; max-width:450px; width: calc(19000% - 98300px); overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; ">

</div>
</body>
</html>