subject = "Einladung zum Viu Event"

==

VIU Frühlings-Apéro

Liebe Freundinnen und Freunde der VIU

Wir laden Euch und Eure Begleitung ein,
gemeinsam mit uns in den Frühling zu starten.

Hier geht es zur Anmeldung {https://events.viu.ch/frühling18/?e={{ key }}}

Liebe Grüsse  Das VIU-Team
VIU AG, Rennweg 38 / Fortunagasse 28 - CH-8001 Zürich viu.ch

==
<p>&nbsp;</p>

<h1 style="text-align:center"><span style="color:#29404b">VIU</span></h1>

<h2 style="text-align:center"><span style="color:#29404b">Fr&uuml;hlings-Ap&eacute;ro</span></h2>

<h3 style="text-align:center"><span style="color:#29404b">20. M&Auml;RZ 2018, 16.30 UHR&nbsp;</span></h3>

<p style="text-align:center"><span style="color:#29404b">&nbsp;</span></p>

<p style="text-align:center"><span style="color:#29404b"><strong>Liebe Freundinnen und Freunde der VIU</strong></span></p>

<p style="text-align:center"><span style="color:#29404b">Wir laden Euch und Eure Begleitung&nbsp;ein,</span><br />
    <span style="color:#29404b">gemeinsam mit uns in den Fr&uuml;hling zu starten.</span></p>

<p style="text-align:center"><strong>&nbsp;<a href="https://events.viu.ch/frühling18/?e={{ key }}" style="color: #e94b27;">Hier geht es zur Anmeldung</a></strong></p>

<p style="text-align:center"><span style="color:#29404b">&nbsp;</span></p>

<p style="text-align:center"><span style="color:#29404b">Liebe Gr&uuml;sse</span><br />
    <span style="color:#29404b">Das VIU-Team</span></p>

<p style="text-align:center"><span style="color:#29404b"><span style="font-size:8pt">VIU AG, Rennweg 38 / Fortunagasse 28 - CH-8001 Z&uuml;rich viu.ch</span>&nbsp;</span></p>

<p style="text-align:center"><span style="color:#999999; font-size:8pt"><a href="https://events.viu.ch/frühling18/abmelden/events/?e={{ key }}" style="color: #999999;">Ich m&ouml;chte keine Event-Einladungen mehr bekommen</a>&nbsp;| <a href="https://events.viu.ch/frühling18/abmelden/viu/?e={{ key }}" style="color: #999999;">Ich m&ouml;chte keine Mails mehr von der VIU bekommen</a></span></p>
