<div class="control-toolbar">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar">
            <div class="toolbar-item toolbar-primary" width="200px">
                <div class="field-switch">
                    <label>Nur an selektierte senden</label>
                </div>
                <label class="custom-switch">
                    <input type="checkbox" id="triggerSendSelected" />
                    <span><span>On</span><span>Off</span></span>
                    <a class="slide-button"></a>
                </label>
            </div>
            <div class="toolbar-item toolbar-primary" width="200px">
                <div class="field-switch">
                    <label>Entsichern</label>
                </div>
                <label class="custom-switch">
                    <input type="checkbox" id="triggerSendButtons" />
                    <span><span>On</span><span>Off</span></span>
                    <a class="slide-button"></a>
                </label>
            </div>
            <div style="margin-top:20px; float: left;" class="toolbar-item toolbar-primary">

                <div class="sendToAllButtons"
                     data-trigger="#triggerSendSelected"
                     data-trigger-action="hide"
                     data-trigger-condition="checked">

                    <button
                            class="btn btn-default oc-icon-send-o"
                            data-request="onSendAll"
                            data-request-data="type: 'invitation'"
                            data-request-confirm="Es wird eine Einladung an alle Gäste gesendet, welche erfasst sind, aber noch keine Einladung erhalten haben. Fortfahren?"
                            data-trigger="#triggerSendButtons"
                            data-trigger-action="disable"
                            data-trigger-condition="unchecked"
                            data-stripe-load-indicator>
                        Einladung an alle senden
                    </button>

                    <button
                            class="btn btn-default oc-icon-send-o"
                            data-request="onSendAll"
                            data-request-data="type: 'pursuit'"
                            data-request-confirm="Es wird bei allen Gästen nachgehakt, welche eine Einladung erhalten haben, aber bis jetzt noch nicht reagiert haben. Fortharen?"
                            data-trigger="#triggerSendButtons"
                            data-trigger-action="disable"
                            data-trigger-condition="unchecked"
                            data-stripe-load-indicator>
                        Bei allen Nachhaken
                    </button>

                    <button
                            class="btn btn-default oc-icon-send-o"
                            data-request="onSendAll"
                            data-request-data="type: 'reminder'"
                            data-request-confirm="Es wird eine Erinnerung an alle Gäste gesendet, welche eine Einladung erhalten und diese Angenommen haben. Fortfahren?"
                            data-trigger="#triggerSendButtons"
                            data-trigger-action="disable"
                            data-trigger-condition="unchecked"
                            data-stripe-load-indicator>
                        Erinnerung an alle senden
                    </button>

                    <button
                            class="btn btn-default oc-icon-send-o"
                            data-request="onSendAll"
                            data-request-data="type: 'followup'"
                            data-request-confirm="Es wird ein Nachtrag an alle Gäste gesendet, welche am Event teilgenommen haben. Fortfahren?"
                            data-trigger="#triggerSendButtons"
                            data-trigger-action="disable"
                            data-trigger-condition="unchecked"
                            data-stripe-load-indicator>
                        Nachtrag an alle senden
                    </button>
                </div>

                <div class="sendToSelectedButtons"
                     data-trigger="#triggerSendSelected"
                     data-trigger-action="show"
                     data-trigger-condition="checked">

                    <button
                            class="btn btn-default oc-icon-send-o"
                            onclick="$(this).data('request-data', {
                                checked: $('.control-list').listWidget('getChecked'),
                                type: 'invitation'
                            })"
                            data-request="onSendSelected"
                            data-request-confirm="Es wird eine Einladung an alle ausgewählten Gäste gesendet. Fortfahren?"
                            data-trigger="#triggerSendButtons"
                            data-trigger-action="disable"
                            data-trigger-condition="unchecked"
                            data-stripe-load-indicator>
                        Einladung an selektierte senden
                    </button>

                    <button
                            class="btn btn-default oc-icon-send-o"
                            onclick="$(this).data('request-data', {
                                checked: $('.control-list').listWidget('getChecked'),
                                type: 'pursuit'
                            })"
                            data-request="onSendSelected"
                            data-request-confirm="Es wird bei allen ausgewählten Gästen nachgehakt. Fortfahren?"
                            data-trigger="#triggerSendButtons"
                            data-trigger-action="disable"
                            data-trigger-condition="unchecked"
                            data-stripe-load-indicator>
                        Bei selektierten Nachhaken
                    </button>

                    <button
                            class="btn btn-default oc-icon-send-o"
                            onclick="$(this).data('request-data', {
                                checked: $('.control-list').listWidget('getChecked'),
                                type: 'reminder'
                            })"
                            data-request="onSendSelected"
                            data-request-confirm="Es wird eine Erinnerung an alle ausgewählten Gäste gesendet. Fortfahren?"
                            data-trigger="#triggerSendButtons"
                            data-trigger-action="disable"
                            data-trigger-condition="unchecked"
                            data-stripe-load-indicator>
                        Erinnerung an selektierte senden
                    </button>

                    <button
                            class="btn btn-default oc-icon-send-o"
                            onclick="$(this).data('request-data', {
                                checked: $('.control-list').listWidget('getChecked'),
                                type: 'followup'
                            })"
                            data-request="onSendSelected"
                            data-request-confirm="Es wird ein Nachtrag an alle Gäste ausgewählten gesendet, welche am Event teilgenommen haben. Fortfahren?"
                            data-trigger="#triggerSendButtons"
                            data-trigger-action="disable"
                            data-trigger-condition="unchecked"
                            data-stripe-load-indicator>
                        Nachtrag an selektierte senden
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>