<!-- Control Panel -->
<div class="toolbar-item toolbar-primary">
    <div data-control="toolbar">
        <a
                data-control="popup"
                data-size="huge"
                data-handler="onRelationButtonAdd"
                href="javascript:;"
                class="btn btn-sm btn-secondary oc-icon-plus">
            Gäste hinzufügen</a>

        <button
                class="btn btn-sm btn-secondary oc-icon-minus"
                onclick="$(this).data('request-data', {
                    checked: $('.control-list').listWidget('getChecked')
                })"
                disabled="disabled"
                data-request="onRelationButtonRemove"
                data-trigger-action="enable"
                data-trigger=".control-list input[type=checkbox]"
                data-trigger-condition="checked"
                data-stripe-load-indicator>
            Entfernen</button>
    </div>
</div>