<style>
    body{
        overflow-x: hidden;
    }
</style>

<div style="margin-left: 18px;margin-bottom: 25px;">
    <h1><?= e($event_name) ?></h1>
    <!--<p style="font-size: 24px;">Hier werden sämtliche erfassten Gäste angezeigt. Im Kopf der Tabelle kann die Liste gefiltert werden.</p>-->

    <div class="callout fade in callout-info no-icon no-subheader">
        <button type="button" class="close" data-request="onHideBackendHint" data-request-data="name: 'Form-field-Event-event_hint'" data-dismiss="callout" aria-hidden="true">×</button>
        <div class="content">
            <p>

                <b>Der Event-Status kann vorläufig nur als Nummer angezeigt werden.</b><br><br>
                <b>1</b> - Neu<br>
                <b>2</b> - Einladung versendet<br>
                <b>3</b> - Einladungslink geklickt<br>
                <b>4</b> - Einladung erneut versendet<br>
                <b>5</b> - Einladungslink geklickt (erneute Einladung)<br>
                <b>6</b> - Einladung angenommen<br>
                <b>7</b> - Erinnerung versendet<br>
                <b>8</b> - Erinnerungslink geklickt<br>
                <b>9</b> - Follow-up versendet<br>
                <b>10</b> - Follow-up angeschaut<br>
                <b>11</b> - Abgelehnt<br>
                <b>12</b> - Hat am Event teilgenommen<br>
                <b>13</b> - Einladung angenommen (vielleicht)<br>

            </p>
        </div>
    </div>





</div>
<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item control-chart" data-control="chart-pie">
            <ul>
                <li data-color="#95b753">Angemeldet <span><?= e($accepted) ?></span></li>
                <li data-color="#cc3300">Abgemeldet <span><?= e($declined) ?></span></li>
                <li data-color="#e5a91a">Keine Rückmeldung <span><?= e($no_answer) ?></span></li>
            </ul>
        </div>
        <div class="scoreboard-item title-value">
            <h4>Neue Kontakte</h4>
            <p><?= e($new_guests) ?></p>
            <p class="description">Das sind neu erfasste Gäste, welche noch keine Einladung erhalten haben.</p>
        </div>
    </div>

    <?php if ($this->user->hasAccess('tripplefix.event_manager.send_mails')): ?>
        <?= $this->makePartial('dispatch_toolbar') ?>
    <?php endif ?>

</div>
<p>&nbsp;</p>
<hr>

<h2 style="margin-left: 18px;margin-bottom: 25px;">Gästeliste</h2>

<style>
    #Events-dispatch-RelationController-customers-view{
        /*display: none;*/

    }
</style>
<?= $this->relationRender('customers') ?>
